---
---
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: {{ site.data.settings.footer.height }};
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: {{ site.data.settings.footer.height }};
  background-color: {{ site.data.settings.footer.color }};
}
